.vs/VSWorkspaceState.json
.vs/erixis/FileContentIndex/3410b161-d3a5-4e2e-9f5f-eef1e23c95ee.vsidx
.vs/erixis/FileContentIndex/b1dd5d71-d68e-4ccb-9d97-ef5976b40deb.vsidx
.vs/erixis/FileContentIndex/c04c846b-927b-4080-a918-d33400d542f0.vsidx
