* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: arial, sans-serif;

    background: none;
    border: none;
}

button {
    cursor: pointer;
}

#jeu {
    position: relative;

    height: 100vh;
    width: 100vw;

    display: grid;
    grid-template-rows: auto 1fr;
}

/* Réglages */


#reglages {
    height: 2rem;

    padding: 0.5rem;

    display: flex;
    
    background: hsl(0, 0%, 20%);

}

.SW {
    position: relative;
}

.SW p {
    opacity: 0;
    pointer-events: none;
    position:absolute;
    background-color: aliceblue;
    padding: 0.5rem;
    left: 50%;
    top: calc(100% + 0.5rem);
    transform: translateX(-50%);
    white-space: nowrap;
    border-radius: 0.5rem;
    z-index: 1000;
    transition: opacity 256ms;

    

}

.SW:hover p {
    opacity: 1;
} 

/* Monde */

#monde {
    background: hsl(140, 76%, 50%);
}

/* Malette */

#malette {
    position: absolute;
    left: 1rem;
    bottom: 1rem;

    height: 3rem;
    width: min(16rem, calc(100vw - 2rem));

    padding: 0.5rem;

    background: hsl(350, 81%, 50%);
    border-radius: 0.5rem;
}

#malette > nav {
    display: flex;

    gap: 0.5rem;
}

#malette > nav button {
    height: 2rem;
    width: 2rem;

    background: hsl(350, 81%, 60%);

    transition: background 256ms;
}

#malette > nav button.selectionne {
    background: hsl(350, 81%, 40%);
}

#malette .onglet {
    position: absolute;
    left: 0;
    bottom: 2.5rem;

    height: calc(100vh - 6.5rem);
    width: min(16rem, calc(100vw - 2rem));
    
    padding: 0.5rem;

    background: hsl(350, 81%, 50%);
    border-radius: 0.5rem 0.5rem 0 0;

    opacity: 0;
    pointer-events: none;

    transition: opacity 256ms;
}

#malette .onglet.ouvert {
    opacity: 1;
    pointer-events: all;
}



input[type=range] {
    -webkit-appearance: none;
    width: 100px;
    height: 8px;
    background: linear-gradient(to right, #4caf50, #ff5722);
    border-radius: 5px;
    outline: none;
    border: none;
}

input[type=range]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb { /*bulle*/
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: #ff5722; 
    border-radius: 50%;
    cursor: pointer;
    /*margin-top: -3px; */
    position: relative;
    z-index: 1;
    padding: 0.5rem;
    
}
